/* 練習： 卡片製作 */
body {
    /* 取色票網站 https://flatuicolors.com/  */
    background: #eeeeee;
    /* Google搜尋字型 微軟雅黑體 */
    font-family: "Microsoft YaHei";

}


.card{
    background-color: #fff;
    width: 450px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)

    /*margin: 0 auto;*/

}

/*=========================================================================*/

.top{
  
    width: 410px;
    margin-top: 35px;
    margin-left: 20px;


}

.top p{
    font-size: 20px;
    color: #1D7FAA;
    border-bottom: 2px solid #1D7FAA;

}

/*=========================================================================*/

.mid {

    /* background-color: pink; */
    width:410px;
    margin-left: 20px;
    font-size: 14px;
}

/*--------------------------------------------------------------------------*/

.name, .contact {

    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.name {

    
    margin-top: 35px;

}

.name p {

    /* background-color: yellow; */
    margin: 0;
    font-weight: bold;


}
/*--------------------------------------------------------------------------*/
.chinese {

    /* border: 1px dashed #000; */
    font-size: 18px;
    
    
}


.chinese span {

    font-size: 12px;
}

.eng {
    
    font-size: 10px;
    /* border: 1px dashed #000; */
    
}
/*--------------------------------------------------------------------------*/

.contact {

     /* border: 1px dashed #000; */
     margin-top: 5px;
     margin-left: 50px;
     font-size: 15px;
     line-height: 19px;
     
    }
    
    .contact p {
        
     /* border: 1px dashed #000; */
     margin-top: 0;
}

/*=========================================================================*/

.bot {

    background-color: #1D7FAA;

    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    color: white;

    padding: 10px;
    box-sizing: border-box;
  

}

.bot p {

     font-size: 14px;
     margin: 0 0 0 20px;
     padding-top: 5px;
     /* border: 1px dashed #000; */

}